<div>
  <form [formGroup]="subscribeForm" #formDirective="ngForm" (ngSubmit)="onSubmit(subscribeForm, formDirective)">
    <div>
      <mat-form-field>
          <input matInput placeholder="Email" type="text" formControlName="email">

      </mat-form-field>
    </div>
    <div>
      <mat-checkbox formControlName="readEULA">I have read the EULA ;)</mat-checkbox>
    </div>
    <div>
      <button mat-flat-button color="accent" type="button" (click)="onReset()">Reset</button>
      <button mat-flat-button color="primary" type="Submit" [disabled]="!subscribeForm.valid">Submit</button>
    </div>

  </form>
</div>
